body {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
      "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .tiles-list {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
  }
  
  .tile {
    text-align: center;
    position: relative;
    font-family: sans-serif;
    padding: 10px;
    width: 24%;
    margin-left: 10px;
    margin-bottom: 15px;
    display: inline-block;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  
  .tile:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  }
  
  .tile__fast-actions {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
  .tile__fast-actions_to-compare {
    border-radius: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    cursor: pointer;
  }
  
  .tile__fast-actions_to-compare:hover {
    background-color: #ff8119;
    color: white;
  }
  
  .tile__fast-actions_to-compare-link {
    display: none;
  }
  
  .tile__fast-actions_to-favorites {
    right: 10px;
    border-radius: 5px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 35px;
    cursor: pointer;
  }
  
  .tile__fast-actions_to-favorites:hover {
    background-color: #ff8119;
    color: white;
  }
  
  .tile__fast-actions_to-favorites-link {
    display: none;
  }
  
  .tile__picture {
    width: 200px;
    height: auto;
    text-align: center;
  }
  
  .tile__info {
    text-align: left;
  }
  
  .tile__info_specs {
    display: none;
  }
  
  .tile__info_price {
    font-size: 30px;
    font-weight: 600;
  }
  
  .tile__info_rating {
    color: #f07511;
  }
  
  .tile__info_vendor-code {
    display: none;
  }
  
  button {
    cursor: pointer;
  }
  
  .tile__actions_one-click-buy-button {
    width: 69%;
    height: 40px;
    border: none;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 10px;
    font-size: 15px;
  }
  
  .tile__actions_one-click-buy-button:hover {
    background-color: #ff8119;
    color: white;
  }
  
  .tile__actions_buy-button {
    width: 29%;
    height: 40px;
    border: none;
    background-color: #ff8119;
    border: 1px solid rgba(0, 0, 0, 0.05);
    color: white;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 5px;
  }
  
  .tile__actions_buy-button:hover {
    background-color: #f07511;
  }
  
  .top-margin {
    margin-top: 5px;
  }
  
  .lefter {
    text-align: left;
  }
  
  @media(max-width: 1366px) {
    .tile {
      min-width: 32%;
    }
  }
  
  @media(max-width: 1024px) {
    .tile {
      min-width: 48%;
    }
  }
  
  @media(max-width: 980px) {
    .tile {
      min-width: 97%;
    }
  
    .tile__picture {
      display: inline-block;
      width: 20%;
      vertical-align: top;
    }
  
    .tile__info {
      display: inline-block;
      width: 55%;
      padding: 0 10px;
      vertical-align: top;
    }
  
    .tile__info_description {
      height: auto;
    }
  
    .tile__info_specs {
      display: block;
      font-size: 13px;
      color: gray;
    }
  
    .tile__actions {
      display: flex;
      flex-direction: column-reverse;
    }
  
    .tile__actions_one-click-buy-button {
      width: 100%;
    }
  
    .tile__actions_buy-button {
      width: 100%;
      margin: 0;
      margin-bottom: 15px;
    }
  
    .tile__fast-actions {
      position: unset;
      text-align: left;
    }
  
    .tile__fast-actions_to-compare {
      font-size: 16px;
      width: auto;
      height: auto;
    }
  
    .tile__fast-actions_to-compare:hover {
      background: none;
      color: black;
    }
  
    .tile__fast-actions_to-compare-link {
      margin-left: 2px;
      font-size: 13px;
      display: inline-block;
    }
  
    .tile__fast-actions_to-favorites {
      font-size: 16px;
      width: auto;
      height: auto;
    }
  
    .tile__fast-actions_to-favorites:hover {
      background: none;
      color: black;
    }
  
    .tile__fast-actions_to-favorites-link {
      margin-left: 2px;
      font-size: 13px;
      display: inline-block;
    }
  
    .tile__logistic-info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 5px;
      border-top: 1px solid rgb(195, 195, 195);
    }
  
    .margin-righter {
      margin-right: 5px;
    }
  
    .inline-blocker {
      display: inline-block;
    }
  
    .buttons-container {
      display: inline-block;
      width: 25%;
    }
  }
  
  @media(max-width: 768px) {
    .tile__info_description {
      position: absolute;
      top: 10px;
      left: 10px;
      font-size: 18px;
      font-weight: 600;
    }
  
    .tile__picture {
      margin-top: 50px;
      width: 49%;
    }
  
    .tile__info {
      margin-top: 50px;
      width: 49%;
    }
  
    .buttons-container {
      display: block;
      width: 100%;
    }
  
    .tile__actions {
      flex-direction: row;
      justify-content: flex-start;
    }
  
    .tile__fast-actions {
      display: none;
    }
  
    .tile__logistic-info {
      flex-direction: column;
      border-top: 0;
    }
  
    .margin-righter {
      margin-right: 5px;
    }
  }
  
  @media(max-width: 320px) {
    .tile {
      min-width: 320px;
    }
  }
  